.App {
  text-align: center;
  background-color: #f3f5fa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sidebar {
  background-color: #f3f5fa;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #f3f5fa;

}

.App-link {
  color: #61dafb;
}

.app-card {
  background-color: #f3f5fa;
  color: black;
  width: 20%;
  border-radius: 30px;
  float: right;
  margin-right: 37%;
}

.large-card {
  background-color: #fff;
  border-radius: 30px;
  width: 80%;
  flex: 1;
  margin: 8%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
